HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
settings.gradle.kts.bak
build.gradle.kts.bak

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Kotlin ###
.kotlin
/logs/demo/default.log
/logs/demo/common-error.log
/src/main/kotlin/com/lingye/demo/Solution.kt
/src/main/kotlin/com/lingye/demo/IntensitySegments.kt
/gradle/
/logs/
/gradlew
/gradlew.bat
